@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --background: #171717;
  --green: #2cb67d;
  --white: #ffffff;
}

body {
  background: var(--background);
}
